<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik:wght@300;400;500&display=swap');
</style>

* { box-sizing: border-box;
margin: 0;
padding: 0;}

html, body{ 
    font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
background-color: black;
color: white;
}

UL{ list-style: none;}
img{ width: 100%;}
a{ color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;}
    a:hover{ color: rgb(253, 251, 251);}
    header{ 
    background-image: url("ckbvd0gyz00xg19mlsu9nayv7-homepage-masthead-test-desktop-320.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 739PX;
    background-position: center;
    
}
HEADER NAV { display: flex;
    justify-content: flex-end;
    margin-right: 0.5cm;}
    .btn{ background: none;
        border: none;
        color: beige;
        font-size: 0.5cm;
text-transform: uppercase;
letter-spacing: 3px;
word-spacing: 5PX;
cursor: pointer;}
h4 {
    font-size: 0.5CM;
    text-transform: uppercase;
    color: rgb(59, 173, 59);
    font-weight: BOLD;}
    .div_head{ display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1CM;}
        header img{ width: 8cm;
            margin: 30PX;}
            .st_text{ font-weight: 1000;
                font-size: 0.8CM;}
                .scnd_text{margin: 35PX;}
                .btn1 { 
                    width: 7.5cm;
                    height: 1.5CM;
                    border-radius: 8PX;
                    font-weight: BOLD;
                    font-size: 0.45CM;
                    cursor: pointer;
                    margin-top: 30PX;
                }
.btn1:hover { opacity: 0.8;}
.last_text { 
    color: #CCC;
    font-size: 0.3CM;
    margin: 14PX;
    font-weight: BOLD;}
    .sub_header{ display: flex;
        flex-direction: row;
        align-items: center;
padding: 40PX 0PX;
justify-content: space-around;
height: 12%;
background-color: rgb(0, 0, 0,0.8);
}
.sub_header img { width: 8CM;
height: 2CM;} 
.btn2{ background: none;
color: aliceblue;
width: 6CM;
height: 1.5CM;
border: #CCC solid 2px;
font-weight: bold;
word-spacing: 1.5PX;
letter-spacing: 1PX;
margin: 1CM ;


}
.btn2:hover{ border: rgb(80, 76, 76) solid 2px;}
.sub_header a { text-decoration: underline;
color: rgb(136, 133, 133);
font-size: 0.5cm;}
.sub_header h4 { font-size: 0.36CM;}
.sub_header h3 { font-size: 0.8CM;}
.last { margin-left: 2.5CM;}
.catg{ display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-top: 2cm;}
.main_cover{ display: grid;
grid-template-columns: repeat(4, 1FR);
grid-column-gap: 20PX;
margin: 10PX 10PX;
height: 12CM;
position: relative;
}
.big_text { font-size: 1.9cm;
font-weight: bold;}
.two_text{ font-size: 0.59CM;
    width: 70%;
    margin: 60PX;
margin-left: 4.3CM;}
.cover1{ 
    background-image: url(ckllond4i0i9w1u7ghnu91j1b-bobsburgers-category-tile-294x450-.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cover2{ 
    background-image: url(cklms7f221g6z1u6ye8eurm1e-unitedstatesvsbillieholiday-catego.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cover3{ 
    background-image: url(cktarx0vs0o9q1w7av35olnl8-nine-perfect-strangers-category-po.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cover4{ 
    background-image: url(cktaw41ct0trg1v5yjb2aysun-billions-category-poster-tile-v1-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
.gradiant{ 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
156.82deg, rgba(0,0,0,0) 4.58%, rgba(0,0,0,0) 69.61%),linear-gradient(
24.5deg, rgba(0,0,0,0.2) 4.71%, rgba(0,0,0,0) 71.49%);

}
.prgrpg{ 
top: 7PX;
position: absolute;
text-align: start;
}
/* .prgrpg H2{ font-weight: bold;
border: 1PX BLACK SOLID;
margin-bottom: 1CM;}
.prgrpg p{border: 1PX BLACK SOLID;} */ 
.live{background-color: #151516;
}
.main_live{display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
align-content: center;
border: green 4PX SOLID;
border-radius: 20PX; 
margin: 40PX 20PX;
padding: 100PX;
text-align: center;}
.text1{font-size: 1.6CM;
font-weight: BOLD;
margin: 30PX;}
.text2{margin-bottom: 40PX;
font-size: 0.6CM;
text-align: center;}
.text3{text-align: center;
font-size: 0.29CM;
color: rgb(160, 155, 155);
word-spacing: 1PX;
line-height: 29PX;}
.text4{ text-decoration: underline;
margin: 40PX;
color: rgb(177, 173, 173);}
.live_sport{background-image: url(ckqwp2zlfc1zx1u362echneor-sports-v3-1600x850-min-full.jpg); 
position: relative;
background-size: cover;
margin-top: 2CM;
height: 15CM;

}
.main_sport{padding: 2.5CM 2.5CM;}
.st_sport{font-weight: bold;
font-size: 2cm;}
.secnd_sport{margin: 40PX ;
width: 12CM;
font-size: 0.6CM; }

.logos{ 
width: 300px;
display: flex;
justify-content: space-between;
align-items: center;
margin: 1.8CM;
}

.logos_img{ width: 70PX;
    height: 70PX;
background-image: url(network-logo-bg-2x.png) ;

background-size: cover;
 display: flex;
justify-content: center;
align-items: center;} 
.logos_img img{width: 1.5CM;}

.end_sport{color: #CCC;
font-size: 0.3CM;}
footer{ background-color: #CCC;
color: #141414;
}
footer a{ color: #646464;}
.browser{ color: #111111;
    PADDING-bottom: 
}
.main_ul{ display: grid;
grid-template-columns: repeat(6, 1FR);
padding-top: 1CM;
grid-column-gap: 10PX;}
.main_footer{ margin-top: 0CM; width: 70%;
margin: 0 auto;}
FOOTER LI { line-height: 30PX;}
.line { width: 70%;
height: 3PX;
border-top: rgb(44, 42, 42) 1PX SOLID;
margin: auto;}
.sub_footer ul img { width: 10px;}
.sub_footer ul { display: flex;
flex-direction: row;
width: 18cm;
justify-content: space-between;
margin: auto;
padding: 1CM;}
.close{position: absolute;
width: 25PX;
height: 25PX;
right: 0;
top: 0;}
.model_box{ background-color: rgb(255, 255, 255);
width: 35%;
height: 100%;
margin: 40PX AUTO;
position: relative;}
.model{ 
    width: 100%;
    height: 100%;
     position:fixed; 
    background-color: rgb(0, 0, 0,0.5);
    z-index: 1;
    left: 0;
    top: 0;
    color: #111111;
    background-;

}
.model_body{
    border: #ffffff 2PX solid;
     width:70% ;
     
    margin:  AUTO;}

.model_footer{background-color: #CCC;
text-align: center;
height: 1CM;
border-top: #747171 2PX SOLID;
margin-top: 1CM;
}
.model form{
}
.model label{
    display: block;
    margin-top: 0.7CM;
    color: #353434;
    font-weight: 600;

}
.model h3{ font-weight: BOLD;
font-size: 1CM;
text-transform: uppercase;
text-align: center;}
.model input{ width: 100%;
height: 40PX;
border: #747171 2PX SOLID;
margin-top: 0.5CM;
border-radius: 5PX;}
.model_btn{
    color: aliceblue;
    width: 100%;
    height: 1.7CM;
    font-size: 0.7CM; background-color: #000000;}
.model_box a{ color: steelblue;}


















@media(max-width:800px){
    
    header{ width: 100%;}
    header img{ width: 4cm;
        
        }
        .sub_header{ display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30PX 40PX;
            
            justify-content: space-around;}
            .st_text{ font-weight: 1000;
                font-size: 0.4CM;
            text-align: center;}
                .scnd_text{margin: 20PX;
                text-align: center;
            font-size: 0.2CM;}
                .last_text{margin: 20PX;
                text-align: center;
            font-size: 0.1CM;}


}